
.heading{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 10px grey;
    }
.note{
        font-size:18px;
        color:black;
    }
.copyright_footer{
        position:fixed;
        bottom:0;
        width:100%;
        color:white;
        background-color: mediumblue;
        line-height:3;
        text-align:center;
    }
    canvas{
        border:5px solid black;
    border-radius:20px;
    box-shadow:5px 5px 10px grey;
    }
body{
    background-size:cover;
}